# Configuración del Servidor
NODE_ENV=development
PORT=3000

# Configuración de Base de Datos Azure SQL
DB_USER=
DB_PASSWORD=
DB_SERVER=
DB_DATABASE=
DB_PORT=1433
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=false

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=24h

# CORS
CORS_ORIGIN=http://localhost:5173